.button-next button {
    margin-right: 12%;
    width: 90%;
    background-color: #53654A;
    outline: none;
    height: 30px;
    border-radius: 7px;
}
    
.button-next button:hover {
    background-color: #7A9B74;
}